<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система поддержки</title>
    <link href="dist/css/output.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/bs-icons.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .searchResult {
            margin: .5rem 1rem;
            background-color: #bdc3c773;
            color: #2c3e50;
            padding: .25rem .5rem;
            border-radius: 7px;
        }

        .question {
            color: var(--bs-indigo);
            font-weight: bold;
            background-color: #CFD8DC !important;
        }

        .ASAClass div {
            font-family: "Times New Roman", serif;
        }

        img.logo {
            height: 40px;
        }

        .bottom {

        }
    </style>
</head>
<body>
<div class="container">
    <div class="row vh-100">
        <div class="col-md-12 mx-auto text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="display-6 text-center">
                        Приложение предназначено для поддержки принятия клинических решений при ведении пациентов с
                        желудочно-кишечными кровотечениями, за исключением пациентов, возраст которых не превышает 18
                        лет,
                        пациентов, находящихся в агональном состоянии с нестабильными показателями гемодинамики и
                        пациентов,
                        имеющих множественное кровотечение из различных участков желудочно-кишечного тракта.
                    </p>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-md-12">
                    <div class="d-flex align-items-center">
                        <img src="logo.png" class="img-fluid w-auto logo" alt="Логотип РНИМУ им.Пирогова">
                        <p class="display-6 text-center">
                            Разработано на базе РНИМУ им. Н.И. Пирогова Минздрава России
                        </p>
                    </div>
                    <a href="edit.html" class="btn btn-lg btn-primary">Ввод данных</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
