<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система поддержки</title>
    <link href="dist/css/output.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/bs-icons.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .searchResult {
            margin: .5rem 1rem;
            background-color: #bdc3c773;
            color: #2c3e50;
            padding: .25rem .5rem;
            border-radius: 7px;
        }

        .question {
            color: var(--bs-indigo);
            font-weight: bold;
            background-color: #CFD8DC !important;
        }

        .ASAClass div {
            font-family: "Times New Roman", serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <p class="display-6 text-center">
                Приложение предназначено для поддержки принятия клинических решений при ведении пациентов с
                желудочно-кишечными кровотечениями, за исключением пациентов, возраст которых не превышает 18 лет, и
                находящихся в агональном состоянии с нестабильными показателями гемодинамики.
            </p>

            <img src="logo.png" class="img-fluid w-25" alt="Логотип РНИМУ им.Пирогова">

            <p class="display-6 text-center">
                Разработано на базе РНИМУ им. Н.И. Пирогова Минздрава России
            </p>
            <a href="edit.html" class="btn btn-lg btn-primary">Ввод данных</a>
        </div>
    </div>
</div>
</body>
</html>
