<input class="form-control" type="text" id="<%= item.id %>" required>
<% if (item.err) { %>
    <div class="invalid-feedback">
        Необходимо ввести значение.
    </div>
<% } %>
<label class="form-label" for="<%= item.id %>"><%= item.name %></label>
