<div class="modal fade" id="instructionModal" tabindex="-1" aria-labelledby="Окно инструкций" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Инструкции по дальнейшему лечению
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <ol id="5">
                    <li class="bleed">
                        Если кровотечение продолжается, то эндоскопическое лечение/ангиографическое
                        лечение/хирургическое лечение (при неэффективности эндоскопического или ангиографического
                        лечения) + консервативная терапия.
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то консервативная терапия/эндоскопическое/хирургическое (в
                        зависимости от формы, размера, количества).
                    </li>
                </ol>
                <ol id="10">
                    <li class="bleed">
                        Если кровотечение продолжается, то установка зонда Блэкмора + консервативная терапия.
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то консервативная терапия + эндоскопическое лечение (на
                        вторые сутки от появления симптомов кровотечения).
                    </li>
                </ol>
                <ol id="1">
                    <li class="bleed">
                        Если кровотечение продолжается, то хирургическое лечение (при обильных профузных
                        кровотечениях рекомендовано прошивание сосуда или склеротерапия или лигирование кровоточащего
                        узла) + консервативная терапия.
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то консервативная терапия.
                    </li>
                </ol>
                <ol id="11">
                    <li class="bleed">
                        Если кровотечение продолжается, то эндоскопическое лечение.
                    </li>
                    <li>
                        Хирургическое лечение (при невозможности/неэффективности эндоскопического гемостаза).
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось и виден тромбированный сосуд, то эндоскопическое лечение.
                    </li>
                    <li>
                        Если кровотечение остановилось и имеется дивертикулит, то консервативная терапия.
                    </li>
                </ol>
                <ol id="2">
                    Хирургическое лечение.
                </ol>
                <ol id="9">
                    <li class="bleed">
                        Если кровотечение продолжается, то эндоскопический гемостаз/эндоваскулярная
                        эмболизация/хирургическое лечение (при невозможности/неэффективности
                        эндоскопического/эндоваскулярного гемостаза).
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то консервативная терапия и/или эндоскопическое лечение.
                    </li>
                </ol>
                <ol id="7">
                    <li>
                        Эндоваскулярное лечение/хирургическое лечение.
                    </li>
                </ol>
                <ol id="8">
                    <li>
                        Эндоскопическое лечение + консервативная терапия.
                    </li>
                    <li>
                        Хирургическое лечение (при неэффективности эндоскопического лечения + консервативной
                        терапии).
                    </li>
                </ol>
                <ol id="4">
                    <li class="bleed">
                        Если кровотечение продолжается, то эндоскопическое лечение/эндоваскулярный
                        гемостаз/хирургическое лечение (при невозможности эндоскопического лечения/эндоваскулярного
                        гемостаза).
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то эндоскопическое лечение и/или консервативная терапия (в
                        зависимости от наличия в нем сосудистых структур) + консервативная терапия.
                    </li>
                    <li>
                        Если риск рецидива кровотечения низкий, то аналогично пункту 2.
                    </li>
                    <li>
                        Если риск рецидива кровотечения высокий, то динамический эндоскопический контроль или
                        ангиографическое вмешательство.
                    </li>
                    <li>
                        Если возникнет рецидив кровотечения, то аналогично пункту 1.
                    </li>
                </ol>
                <ol id="3">
                    <li class="bleed">
                        Если кровотечение продолжается, то эндоскопический гемостаз/хирургическое лечение (при
                        неэффективности/невозможности эндоскопического лечения) + консервативная терапия.
                    </li>
                    <li class="no-bleed">
                        Если кровотечение остановилось, то консервативная терапия.
                    </li>
                </ol>
                <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal"
                        id="instructionModal__close">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
