<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="Поиск пациента" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Поиск пациента
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="" id="searchForm">
                <div class="modal-body">
                    <div class="col-auto my-1">
                        <label for="searchKeyword" class="form-label">Введите описание или ID пациента</label>
                        <input type="text" class="form-control" id="searchKeyword">
                    </div>
                    <div class="col-auto text-end my-1">
                        <button type="button" class="btn btn-outline-primary" id="search">Поиск</button>
                    </div>
                </div>
            </form>
            <div id="searchResult"></div>
        </div>
    </div>
</div>
