<div class="form-check">
    <input class="form-check-input" type="checkbox" id="<%= sign.id %>" value="option1">
    <% if (sign.err) { %>
        <div class="invalid-feedback">
            Необходимо ввести значение.
        </div>
    <% } %>
    <label class="form-check-label" for="<%= sign.id %>">
        <%= sign.name %>
    </label>
    <% if (sign.sub) { %>
        <div class="form-text">Кровь в стуле</div>
    <% } %>
</div>